{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <body>
        <div>
            <h1>Hello Word !</h1>
        </div>
    </body>
{% endblock %}
